body{
    background-color: #fafafa;
}

.loginpage__main{
    display: flex;
    margin: 25px;
}
.loginpage__logo{
    width: 175px;
    margin-top: 25px;
}
.loginpage_rightcomponent{
    height: 380px;
    width: 350px;
    border: 1xp solid #dbdbcb;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}
.loginPage__sinIn {
    margin-top: 25px;
}
.loginpage__text {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #dbdbcb;
    background-color: #fafafa;
    padding-left: 10px;
    border-radius: 5px;
}
.login__button {
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid #0395f6;
    background-color: #0395f6;
    color: white;
}
.login__division {
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border: 1px solid #dbdbcb;
}
.login__dividor {
    width: 80px;
    height: 0px;
    margin-top: 0px;
    border: 1px solid #dbdbcb;
}
.login__or {
    margin: 0px 10px;
    font-weight: bold;
    color: #8e8e8e;
}
.login__fb {
    color: #395185;
    font-weight: bold;
    margin-top: 30px;
}
.loginPage__signIn {
    margin-top: 20px;
    text-align: center;
}
.loginPage__signup {
    margin-top: 10px;
    text-align: center;
}
.loginPage__downloadSection {
    height: 105px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
}
.loginPage__option {
    margin-top: 20px;
}
.loginPage__diwng {
    margin: 5px;
}